@import "config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

body {
  font-family: "Qwigley", cursive;
  background: $primary-color;
  color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quintessential", cursive;
}

.menu {
  &.open {
    display: flex;
  }
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: $primary-color;
  color: $secondary-color;
  z-index: 9;
  font-size: 3rem;
}

header {
  background: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 1rem;
  z-index: 10;
  display: grid;
  align-items: center;
  grid-template-columns: 5% 1fr 1fr 5%;

  .logo {
    grid-column: 2/3;
  }

  .hamburger {
    grid-column: 3/4;
    justify-self: end;
    display: flex;
    flex-direction: column;
    .bar-1 {
      margin-bottom: 0.4rem;
    }

    &.open {
      .bar-1 {
        transform: rotate(120deg) translate(10px, -7px);
      }
      .bar-2 {
        transform: rotate(60deg);
      }
    }
  }
}

main {
  .container {
    margin: 0 5%;
    height: 100vh;
    top: 50%;
    transform: translate(0%, 20%);
  }

  .hero {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    p {
      font-size: 3rem;
      text-align: center;
    }

    svg {
      position: relative;
      left: 50%;
    }

    h3 {
      text-align: center;
    }
  }

  .contact {
    h3 {
      padding: 1rem 0;
    }
    #contact,
    .location {
      p {
        font-size: 1.5rem;
        font-family: "Quintessential", cursive;
      }
    }
  }
}

footer {
  text-align: center;
  position: relative;
  bottom: 100%;
  font-size: 1.2rem;
  transform: translateY(100%);
  background: lighten($primary-color, $amount: 10);
}
